<app-navbar></app-navbar>

<div id="bevContainer" class="container">

    <h2>My Bevs</h2>

    <form (submit) = "sendCardPost(name.value, temp.value, time.value, servingSize.value, ingredients.value, flavor.value, type.value, notes.value); false; name.value = ''; temp.value = ''; time.value = ''; servingSize.value = ''; ingredients.value = ''; flavor.value = ''; type.value = ''; notes.value = '';">
        <label>Name of Beverage: </label>
        <input required #name/>
        <select #type>
            <option value = "" disabled selected>Select type of beverage</option>
            <option value = "Coffee">Coffee</option>
            <option value = "Tea">Tea</option>
            <option value = "Misc.">Misc.</option>
        </select>
        <label>Prep Temp: </label>
        <input required #temp type = "number"/>
        <label>Prep Time: </label>              <!--Please add a component after temp and time for the UI. Thanks!-->
        <input required #time type = "number"/>
        <select #servingSize>
            <option value = "" disabled selected hidden>Serving Size</option>
            <option value = "8 oz">8 oz</option>
            <option value = "12 oz">12 oz</option>
            <option value = "16 oz">16 oz</option>
            <option value = "20 oz">20 oz</option>
        </select>
        <label>Ingredients: </label>
        <input required type = "textarea" #ingredients/>
        <label>Flavor profile: </label>
        <input required #flavor/>
        <label>Additional Notes: </label>
        <input type = "textarea" #notes/>
        <button type = "submit">Save your hot bevs!</button>
    </form>

    <div *ngFor = "let card of cardArr">
        <h4>{{card.bevName}}</h4>
        <p>{{card.type}}</p>
        <p>{{card.temp}} °F</p>
        <p>{{card.prepTime}} minutes</p>
        <p>{{card.servingSize}}</p>
        <p>{{card.ingredients}}</p>
        <p>{{card.flavorProfile}}</p>
        <p>{{card.notes}}</p>
        <button type = "button">Edit</button>
        <button type = "button" (click) = "deleteConfirmation(card.id)">Delete</button>
    </div>

    <div id = "deleteConfirmation" style = "display: none">
        <p>Are you sure you want to delete this card?</p>
        <button (click) = "sendDeleteFetch(this.cardId); deleteConfirmation();">Yes</button>
        <button (click) = "deleteConfirmation()">No</button>
    </div>

</div>
