<app-navbar></app-navbar>

<div id="bevContainer" class="container">

    <h2 id = "test">My Hot Beverages</h2>

    <button mat-flat-button color="accent" (click)="open(content)">+ Add To My List</button>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{modelTitle}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (submit) = "sendCardPost(name.value, temp.value, time.value, servingSize.value, ingredients.value, flavor.value, type.value, notes.value); false; name.value = ''; temp.value = ''; time.value = ''; servingSize.value = ''; ingredients.value = ''; flavor.value = ''; type.value = ''; notes.value = '';">
                <label for="name">Beverage Name</label>
                <input required id = "name" #name type="text"/><br/>  <!--[(ngModel)] = "name"-->
                <label for="type">Type of Beverage</label>
                <select id = "type" #type>
                    <option value="tea">Tea</option>
                    <option value="coffee">Coffee</option>
                    <option value="miscellaneous">Other</option>
                </select><br/>
                <label for="temp">Temperature</label>
                <input required id = "temp" #temp type="number"/><br/>
                <label for="time">Prep Time</label>
                <input required id = "time" #time type="number"/><br/>
                <label for="servingSize">Serving Size</label>
                <select id = "servingSize" #servingSize placeholder="Serving Size">
                    <option value="8">8 oz.</option>
                    <option value="12">12 oz.</option>
                    <option value="16">16 oz.</option>
                    <option value="20">20 oz.</option>
                </select><br/>
                <label for="ingredients">Ingredients</label>
                <input required id = "ingredients" type = "textarea" #ingredients/><br/>
                <label for="flavor">Flavor Profile</label>
                <input required id = "flavor" #flavor type="text"/><br/>
                <label for="notes">Additional Information</label>
                <input type = "textarea" id = "notes" #notes/>
                <div class="modal-footer">
                    <button id = "submitButton" class="btn btn-outline-dark" type = "submit">Save</button>
                    <button id = "clickButton" style = "display: none" class = "btn btn-outline-dark" type = "button" (click) = "sendCardUpdate(this.cardId, name.value, temp.value, time.value, servingSize.value, ingredients.value, flavor.value, type.value, notes.value); name.value = ''; temp.value = ''; time.value = ''; servingSize.value = ''; ingredients.value = ''; flavor.value = ''; type.value = ''; notes.value = ''; open();">Update</button>
                </div>
            </form>
        </div>
    </ng-template>

    <div *ngFor = "let card of cardArr">
        <h4>{{card.bevName}}</h4>
        <p>{{card.type}}</p>
        <p>{{card.temp}} °F</p>
        <p>{{card.prepTime}} minutes</p>
        <p>{{card.servingSize}}</p>
        <p>{{card.ingredients}}</p>
        <p>{{card.flavorProfile}}</p>
        <p>{{card.notes}}</p>
        <button type = "button" (click) = "open(content, card.id)">Edit</button>
        <button type = "button" (click) = "deleteConfirmation(card.id)">Delete</button>
    </div>

    <div id = "deleteConfirmation" style = "display: none">
        <p>Are you sure you want to delete this card?</p>
        <button (click) = "sendDeleteFetch(this.cardId); deleteConfirmation();">Yes</button>
        <button (click) = "deleteConfirmation()">No</button>
    </div>

</div>
