<div id="teaComp" class="commentComp container">
  <h2>Tea</h2>
  <div *ngFor = "let comment of commentsArr" class="comment">
    <h3>{{comment.username}}</h3>
    <p>{{comment.comment}}</p>
    <div *ngIf = "this.AdminStatus == 'true' || userName == comment.username">
      <button type = "button" mat-flat-button color = "accent"(click) = "open(content, comment.id, comment.username)">Edit</button>
      <button type = "button" mat-flat-button color = "warn"(click) = "deleteConfirm(comment.id)">Delete</button>
    </div>
  </div>
  <form>
    <h3>Do you have opinions about hot tea?</h3>
    <textarea class="addComment" #teaComment type = "textarea" placeholder="Let the people know..."></textarea>
    <button type = "button" (click) = "sendTeaFetch(teaComment.value); teaComment.value = ''" mat-flat-button color="accent">Submit</button>
  </form>
</div>

<ng-template #content let-modal>
  <div class = "modal-header">
    <h4 class = "modal-title" id = "modal-basic-title">Edit comment</h4>
    <button type = "button" class = "close" aria-label = "Close" (click) = "modal.dismiss()">
      <span aria-hidden  = "true">&times;</span>
    </button>
  </div>
  <div class = "modal-body">
    <form (submit) = "sendCommentUpdate(commentEdit.value); false; open(); commentEdit.value = ''">
      <label>Edit Message Here</label>
      <input type = "textarea" #commentEdit/>
      <div class = "modal-footer">
        <button mat-flat-button color = "accent" type = "submit">Update</button>
      </div>
    </form>
  </div>
</ng-template>

<div id = "deleteConfirm" style = "display: none">
    <p>Are you sure you want to delete this card?</p>
    <button (click) = "sendDeleteFetch(this.commentId); deleteConfirm();">Yes</button>
    <button (click) = "deleteConfirm()">No</button>
</div>