.commentComp {
    margin:5vh auto;
}

.comment {
    background-color:rgba(255,255,255,0.5);
    border:0.5px solid #333;
    margin:5vh;
    padding:5vh;
    border-radius: 0.25rem;
}

.comment button {
    display: block;
    margin: 1vh;
}

/* Add Comment Section */

.addComment {
    width:100%;
    margin:10vh auto;
    border-top:2px solid #333;
}

.addComment form {
    text-align: center;
    width:60%;
    margin: 5vh auto;
    padding: 5vh 0;
}

.addComment textarea {
    width:100%;
    padding:1vh;
}

.addComment form button {
    width:60%;
    margin:1% auto;
    padding:1vh 2vw;
}