<div id="teaComp" class="commentComp">
  <h2>Tea</h2>
  <div *ngFor = "let comment of commentsArr">
    <h3>{{comment.username}}</h3>
    <p>{{comment.comment}}</p>
    <button type = "button" mat-flat-button color="accent">Edit</button>
    <button type = "button" mat-flat-button color="warn">Delete</button>
  </div>
  <form>
    <h3>Do you have opinions about hot tea?</h3>
    <textarea class="addComment" #teaComment type = "textarea" placeholder="Let the people know..."></textarea>
    <button type = "button" (click) = "sendTeaFetch(teaComment.value); teaComment.value = ''" mat-flat-button color="accent">Submit</button>
  </form>
</div>