.page {
    margin:0 auto;
    background-image: url('https://images.unsplash.com/photo-1500388953054-0d94398c7bf1?w=1440');
    position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    width:100vw;
}

.container {
    background-color: rgba(255,255,255,0.65);
    margin: auto;
    border-radius: 0.25rem;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#homeContainer {
    display: inline-block;
    width:60%;
    margin: 2%;
}

#authContainer {
    display: inline-block;
    text-align: center;
    width:30%;
    margin: 2%;
}

.formContainer button {
    width:100%;
    margin:2vh 0;
}

.mat-form-field {
    display: block;
}

@media screen and (max-width:575px) {
    #homeContainer, #authContainer {
        display: block;
        width:100%;
        margin:0 auto;
        padding:5vh;
    }
}