<div class="container" id="authContainer">
  <div class="formContainer" id = "login" layout-align="center center">
    <h2>{{title}}</h2>
    <form (submit) = "sendLogin(usernameli.value, passwordli.value); false; usernameli.value = ''; passwordli.value = ''">
      <mat-form-field>
        <input matInput #usernameli type = "text" placeholder = "Username" />
      </mat-form-field>
      <mat-form-field>
        <input matInput #passwordli type = "password" placeholder = Password />
      </mat-form-field>
      <button type = "submit" mat-flat-button color="accent">Submit</button>
    </form>
    <button type = "button" (click) = "toggleView()" mat-flat-button color="primary">{{buttonTitle}}</button>
  </div>

  <div class="formContainer" id = "signup" style = "display: none" layout-align="center center">
    <h2>{{title}}</h2>
    <form (submit) = "sendSignup(firstName.value, lastName.value, email.value, usernamesu.value, passwordsu.value, confirmPassword.value); false;
    firstName.value = ''; lastName.value = ''; email.value = ''; usernamesu.value = ''; passwordsu.value = ''; confirmPassword.value = ''">
      <mat-form-field>
        <input matInput #firstName type = "text" placeholder = "First Name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput #lastName type = "text" placeholder = "Last Name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput #email type = "email" placeholder = "Email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput #usernamesu type = "text" placeholder = "Username" />
      </mat-form-field>
      <mat-form-field>
        <input matInput #passwordsu type = "password" placeholder = "Password" />
      </mat-form-field>
      <mat-form-field>
        <input matInput #confirmPassword type = "password" placeholder = "Confirm Password" />
      </mat-form-field>
      <button type="submit" mat-flat-button color="accent">Submit</button>
    </form>
    <button type = "button" (click) = "toggleView()" mat-flat-button color="primary">{{buttonTitle}}</button>
  </div>
</div>

<div id = "warningDiv" style = "display: none">
  <span id = "warning"></span>
  <button (click) = "hideWarning()">OKAY</button>
</div>