<div class="navbar" id="mobile">
  <img src="../../assets/hbh_logo.jpg" routerLink="/home" class="logo"/>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item routerLink="/bevs">
      <mat-icon>free_breakfast</mat-icon>
      <span>My Beverages</span>
    </button>
    <button mat-menu-item routerLink="/comments">
      <mat-icon>forum</mat-icon>
      <span>Comments</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</div>
<div class="navbar" id="desktop">
  <img src="../../assets/hbh_logo.jpg" routerLink="/home" class="logo"/>
  <button mat-flat-button routerLink="/home">Home</button>
  <button mat-flat-button routerLink="/bevs">My Beverages</button>
  <button mat-flat-button routerLink="/comments">Comments</button>
  <button mat-flat-button (click)="logout()">Logout</button>
</div>