.navbar {
    background-color: #FFC107;
    padding:2vh 0;
    text-align:right;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(51,51,51,0.2);
    -moz-box-shadow: 0px 5px 5px 0px rgba(51,51,51,0.2);
    box-shadow: 0px 5px 5px 0px rgba(51,51,51,0.2);
    width:100vw;
}

.logo {
    max-height:8.5vh;
    float: left;
    margin-left: 2vw;
}

#desktop button {
    padding:0.5vh 2vw;
    text-decoration:none;
    margin:0 2vw;
    color:#333333;
    background-color: rgba(255,255,255,0.5);
    border: none;
    border-radius: 0.25rem;
    transition:0.3s;
}

#desktop button:hover {
    background-color: rgba(255,255,255,0.3);
}

#desktop {
    display: block;
}

#mobile {
    display: none;
}

#desktop button {
    margin:2vh;
}

@media screen and (max-width:768px) {
    #mobile {
        display: block;
    }

    #desktop {
        display: none;
    }

    .logo {
        max-height:5vh;
    }

    #mobile button {
        margin-right:2vw;
    }
}