<div>
  <h1>Misc</h1>
  <div>
    Comments will eventually go here!
  </div>
  <div>
    Comments will eventually go here!
  </div>
  <div>
    Comments will eventually go here!
  </div>
  <div>
    Comments will eventually go here!
  </div>
  <div>
    <h3>Comments will go here</h3>
  </div>
  <form>
    <input #miscComment type = "textarea" placeholder = "Place your encouraging comments about misc hot beverages here!"/>
    <button type = "button" (click) = "sendMiscFetch(miscComment.value); miscComment.value = ''">Submit Comment!</button>
  </form>
</div>