<div id="miscComp" class="commentComp">
  <h1>Miscellaneous</h1>
  <div *ngFor = "let comment of commentsArr">
    <h3>{{comment.username}}</h3>
    <p>{{comment.comment}}</p>
    <button type = "button">Edit</button>
    <button type = "button">Delete</button>
  </div>
  <form>
    <input #miscComment type = "textarea" placeholder = "Place your encouraging comments about misc hot beverages here!"/>
    <button type = "button" (click) = "sendMiscFetch(miscComment.value); miscComment.value = ''">Submit Comment!</button>
  </form>
</div>