<div id="coffeeComp" class="commentComp">
  <h1>Coffee</h1>
  <div *ngFor = "let comment of commentsArr">
    <h3>{{comment.username}}</h3>
    <p>{{comment.comment}}</p>
    <button type = "button">Edit</button>
    <button type = "button">Delete</button>
  </div>
  <form>
    <input #coffeeComment type = "textarea" placeholder = "Place your encouraging comments about coffee here!"/>
    <button type = "button" (click) = "sendCoffeeFetch(coffeeComment.value); coffeeComment.value = ''">Submit Comment!</button>
  </form>
</div>