<div id="coffeeComp" class="commentComp">
  <h1>Coffee</h1>
  <div *ngFor = "let comment of commentsArr">
    <h3>{{comment.username}}</h3>
    <p>{{comment.comment}}</p>
    <div *ngIf = "this.AdminStatus == 'true' || userName == comment.username">
        <button type = "button">Edit</button>
        <button type = "button" (click) = "deleteConfirm(comment.id)">Delete</button>
      </div>
  </div>
  <form>
    <input #coffeeComment type = "textarea" placeholder = "Place your encouraging comments about coffee here!"/>
    <button type = "button" (click) = "sendCoffeeFetch(coffeeComment.value); coffeeComment.value = ''">Submit Comment!</button>
  </form>
</div>

<div id = "deleteConfirm" style = "display: none">
    <p>Are you sure you want to delete this card?</p>
    <button (click) = "sendDeleteFetch(this.commentId); deleteConfirm();">Yes</button>
    <button (click) = "deleteConfirm()">No</button>
</div>