.commentComp {
    margin:5vh;
}

form {
    text-align: center;
    width:80vw;
    margin: auto
}

textarea {
    width:60%;
    margin:1% auto;
}

form button {
    width:60%;
    margin:1% auto;
    padding:1vh 2vw;
}