<app-navbar></app-navbar>

<div id="homeContainer" class="container">
  <h2 id="welcome">Welcome to Hot Bev Hub!</h2>
  <div class="infodiv">
    <div class="card">
  <h4>So you've made your way across the internet, and stumbled across our humble hub! 
    We're glad you made it, and we hope you're ready to take your hot beverage organizational skills 
    to the next level!
  </h4>
  <p>
    Hot Bev Hub was designed to simply help people share and organize the methods which they use to procure
    the best of the best Hot Bevs in the west! </p>
    <p>We aim to provide you with a user friendly utility which will allow you to keep track of your 
    perfected hot beverage recipes, as well as to post commentary for others on the site to read, or comment on! 
    So go ahead! Jump right in!
  </p>
</div>
</div>
</div>