<app-navbar></app-navbar>

<div id="homeContainer" class="container">
  <h2 id="welcome">Welcome to Hot Bev Hub!</h2>
  <div class="infodiv">
    <div class="card">
        <h4>Our Roots</h4>
        <img src="../../assets/hbh_logo.jpg" id="logo"/>

  <p>Hot Bev Hub was started in 2019, by our own Founder and CEO, Hot Bev. Bev was born sometime in the 2010s and found 
    her life, and business partner, G, of G's Garden and Trees, in early 2014. Inspired by G's passion and desire to create a green new world, Bev decided she 
    should make an effort to make the world a better place too!</p>
    
  <p>Since she was a wee little kid, Bev has always enjoyed
    a very broad variety of hot beverages. These drinks bring much warmth and comfort in the winter months, whether you're
    chatting with a friend inside a cozy coffee shop, or just snuggled up at home alone with a mug of hot chocolate!
  </p><p>
    It's easy to brew up a nice hot beverage, but what do you do when you've found the amount of cocoa you used was just 
    right, and the temperature was even perfect too? How would one organize all these beverages? This is the exact problem 
    that our own Hot Bev saw, and set out to fix. First, she thought it'd be simple enough to write your bev ideas down. 
    But we live in the age of technology, and how would one share said beverage solutions with others? Letters? Morse code? And so Hot Bev Hub was born!
    </p><h5>
    Now you have a simple, and organized way of distributing, and discussing, the best of your hot beverage concoctions!
</h5>
  
</div>
</div>
</div>