.container {
    margin: 5vh auto;
    padding: 10px;
}

.infodiv {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#welcome {
    text-align: center;
    font-size: 40px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    border-radius: 10px;
}

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}